{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center d-flex justify-content-center">
        <div class="col-md-3 pt-5">
            {{ form(form) }}
            <datalist id="t203_choice">
            </datalist>
            <button class="mt-3 btn btn-success" id="sheetjsexport"><b>Exporter</b></button>
        </div>
    </div>

    {% if croissement is defined and croissement | length > 0 %}
        <div class="container col-md-8">
            <table class="table pt-5 mt-5" id="TableToExport">
                <thead>
                <tr>
                    <th scope="col">Marke</th>
                    <th scope="col">khernr</th>
                    <th scope="col">dlnr</th>
                    <th scope="col">artnr</th>
                    <th scope="col">genartnr</th>
                    <th scope="col">designation</th>
                    <th scope="col">marque</th>
                    <th scope="col">refnr</th>
                </tr>
                </thead>
                <tbody>
                {% for item in croissement%}
                    <tr>
                        <td>{{item.marke }}</td>
                        <td>{{ item.khernr }}</td>
                        <td>{{ item.dlnr }}</td>
                        <td> {{ item.artnr }}</td>
                        <td> {{ item.genartnr }}</td>
                        <td> {{ item.designation }}</td>
                        <td> {{ item.marque }}</td>
                        <td> {{ item.refnr }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <script>
        document.getElementById("sheetjsexport").addEventListener('click', function () {
            /* Create worksheet from HTML DOM TABLE */
            let wb = XLSX.utils.table_to_book(document.getElementById("TableToExport"));
            /* Export to file (start a download) */
            XLSX.writeFile(wb, "Croissement.xlsx");
        });

        window.onload = () => {
            let datalist = document.getElementById('t203_choice')
            let fournisseur = document.getElementById('t203_Fournisseur')

            fournisseur.value = '3'
            datalist.innerHTML = ''
        }

        document.addEventListener('DOMContentLoaded', function () {
            let fournisseur = document.getElementById('t203_Fournisseur')
            let marque = document.getElementById('t203_Marque')
            let datalist = document.getElementById('t203_choice')

            marque.disabled = true;

            fournisseur.addEventListener('input', async () => {

                if (fournisseur.value !== '3') {

                    let request = fetch('/api/fournisseur/' + fournisseur.value)
                    let response = (await request).json()
                    let result = await response

                    datalist.innerHTML = ''

                    result.forEach(element => {
                        datalist.appendChild(new Option(element.bez, element.bez))
                    });

                    marque.disabled = false;

                } else {
                    marque.disabled = true;
                }

            })
        })
    </script>
{% endblock %}



