{% extends 'base.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="{{ path('app_dlnr') }}">Retrouver un Dlnr</a></h4>
                <p>
                    Permet de retrouver un dlnr à partir du nom de la marque
                </p>
            </div>
        </div>

        <div
                class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        >
            <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="{{ path('app_hernr') }}">Retrouver un hernr</a></h4>
                <p>
                    Permet de retrouver un hernr à partir du nom du Hkz
                </p>
            </div>
        </div>

        <div
                class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0"
        >
            <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="{{ path('app_genartnr') }}">Famille produit par fournisseur </a></h4>
                <p>
                    Permet de voir les famille de produits par fournisseur
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="{{ path('app_vehicle') }}">Extraction de véhicules</a></h4>
                <p>
                    Permet d'extraire les véhicules pour des articles donnés
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="{{ path('app_croissement') }}">Croissement</a></h4>
                <p>
                   Permet de réaliser des croissement Constructeur/Equipementier
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="{{ path('app_photo') }}">Photo</a></h4>
                <p>
                    Permet de trouver les photos d'une pièce selon sa référence
                </p>
            </div>
        </div>
    </div>

{% endblock %}
